.navbar-container {
  width: 1170px;
  position: relative;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    left: 15px;
    right: 15px;
  }
}

.navbar,
.navbar > .navbar-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 768px) {
    display: block;
  }
}

.navbar {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 1rem 1.15rem;
  border-bottom: 1px solid #eceef3;

  .navbar-container {
    @media (min-width: 576px) {
      max-width: 540px;
    }
    @media (min-width: 768px) {
      max-width: 720px;
    }
    @media (min-width: 992px) {
      max-width: 960px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
  }

  .navbar-header {
    display: flex;
    align-items: center;

    @media (max-width: 768px) {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-toggler {
      cursor: pointer;
      border: none;
      display: none;
      outline: none;

      @media (max-width: 768px) { display: block }

      span {
        height: 2px;
        width: 22px;
        background-color: lighten(#3c4250, 35%);
        display: block;
      }
      span:not(:last-child) {
        margin-bottom: 0.2rem;
      }
    }

    > a {
      font-weight: 500;
      color: #3c4250;
    }
  }

  .navbar-menu {
    display: flex;
    align-items: center;
    flex-basis: auto;
    // flex-grow: 1;

    @media (max-width: 768px) {
      text-align: center;
    }

    // Ul
    .navbar-nav {
      margin-left: auto;
      flex-direction: row;
      display: flex;
      padding-left: 0;
      margin-bottom: 0;
      list-style: none;

      @media (max-width: 768px) {
        width: 100%;
        display: block;
        border-top: 1px solid #EEE;
        margin-top: 1rem;
      }

      > li {
        > a {
          color: #3c4250;
          text-decoration: none;
          display: inline-block;
          padding: 0.5rem 1rem;
          &:hover {
            color: #66f;
          }
          @media (max-width: 768px) {
            border-bottom: 1px solid #eceef3;
          }
        }
        &.active {
          a {
            color: #66f;
          }
        }
      }

      .navbar-dropdown {
        &:hover{
          .dropdown {
            display: block;
          }
        }
        .dropdown {
          text-align: center;
          list-style: none;
          position: absolute;
          right: 0;
          background-color: #fff;
          padding-top: 1rem;
          padding-bottom: 0.5rem;
          min-width: 160px;
          width: auto;
          white-space: nowrap;
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
          z-index: 99999;
          border-radius: 0.75rem;
          display: none;
          @media (max-width: 768px) {
            position: relative;
            box-shadow: none;
          }
          li {
            a {
              color: #3c4250;
              padding: 0.25rem
                       1rem;
              display: block;
            }
          }
          &.show {
            display: block !important;
          }
        }
      }

      .dropdown > .separator {
        height: 1px;
        width: 100%;
        margin: {
          top: 9px;
          bottom: 9px;
        };
        background-color: #eceef3;
      }
    }
  }

  .navbar-dropdown {
    position: relative;
  }
}

.navbar .navbar-header > a span {
  color: #66f;
}
.navbar .navbar-header h4 {
  font-weight: 500;
  font-size: 1.25rem;
  @media (max-width: 768px) {
    font-size: 1.05rem;
  }
}
.search-container{
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.search-container input[type=text] {
  padding: 7px;
  margin-top: 8px;
  font-size: 17px;
  border-radius: 5px;
  background: rgb(241, 241, 241);
  border: none;
}

.dropdown-toggler{
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.search-container button {
  float: right;
  padding: 4px 8px;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.nav-btnGoogleLogout{
  width: 100%;
  font-weight: initial;
  justify-content: flex-end;
  box-shadow: initial !important;
  background-color: initial !important;
  color: initial !important;
  display: initial !important;
  border-radius: initial !important;
  font-size: initial !important;
  opacity: initial !important;
}
.nav-btnGoogleLogout > div {
  display: none;
}