.mc {
    margin: 0 auto;
}

.mt-10 {
    margin-top: 0.625rem;
}

.mt-20 {
    margin-top: 1.25rem;
}

.mt-30 {
    margin-top: 1.875rem;
}

.mt-40 {
    margin-top: 2.5rem;
}

.mt-50 {
    margin-top: 3.125rem;
}

.mt-60 {
    margin-top: 3.75rem;
}

.mt-70 {
    margin-top: 4.375rem;
}

.mt-80 {
    margin-top: 5rem;
}

.mt-140 {
    margin-top: 8.75rem;
}

.mt--20 {
    margin-top: -1.25rem;
}

.mb-10 {
    margin-bottom: 0.625rem;
}

.mb-20 {
    margin-bottom: 1.25rem;
}

.mb-30 {
    margin-bottom: 1.875rem;
}

.mb-40 {
    margin-bottom: 2.5rem;
}

.mb-50 {
    margin-bottom: 3.125rem;
}

.mb-60 {
    margin-bottom: 3.75rem;
}

.mb-70 {
    margin-bottom: 4.375rem;
}

.mb-80 {
    margin-bottom: 5rem;
}

.ml-10 {
    margin-left: 0.625rem;
}

.ml-20 {
    margin-left: 1.25rem;
}

.ml-30 {
    margin-left: 1.875rem;
}

.ml-40 {
    margin-left: 2.5rem;
}

.ml-50 {
    margin-left: 3.125rem;
}

.ml-60 {
    margin-left: 3.75rem;
}

.ml-70 {
    margin-left: 4.375rem;
}

.ml-80 {
    margin-left: 5rem;
}

.mr-10 {
    margin-right: 0.625rem;
}

.mr-20 {
    margin-right: 1.25rem;
}

.mr-30 {
    margin-right: 1.875rem;
}

.mr-40 {
    margin-right: 2.5rem;
}

.mr-50 {
    margin-right: 3.125rem;
}

.mr-60 {
    margin-right: 3.75rem;
}

.mr-70 {
    margin-right: 4.375rem;
}

.mr-80 {
    margin-right: 8rem;
}

.mr-90 {
    margin-right: 8rem;
}